<!-- This is to be used with row layout, good for responsiveness -->
<div class="col mb-4">
  <div class="card">
    <!-- Large sectioned off header -->
    <p class="card-header"><%= header %></p>
    <div class="card-body">
      <!-- Separetly spaced title -->
      <h6 class="card-title"><%= title %></h6>
      <!-- Main content -->
      <p class="card-text"><%= content %></p>
    </div>
    <p class="card-footer"><%= footer %></p>
  </div>
</div>