<!-- Footer -->
<footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <div style="display: block">© 2020 Copyright </div>
        <div style="display: block;"><%- include("../partials/themeSelector.ejs") %></div>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
