<!-- Footer -->
<footer class="page-footer font-small text-primary">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <div class="mr-3" style="display: inline-block">© 2020 Copyright </div>
        <%- include("../partials/themeSelector.ejs") %>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
