.like-button {
    float: right;
}

.inline-block {
    display: inline-block;
}
.dashboard{
    padding-bottom: 9em;
}

.card-footer{
    padding: 0px;
}




.card-text {
    margin-bottom: 0;
    padding-top: .5vh;
}

.height-100 {
    height: 100%;
}

.height-75 {
    height: 75%;
}

.height-25 {
    height: 25%
}

.w-100{
    width: 50%;
}

.w-75{
    width: 50%;
}

.float-right{
    float: inline-end;
}

.ask-btn{
    padding-left: 1em;
    padding-right: 1em;
}

.ask-field{
    padding-bottom: 1em;
}

.float-left{
    float: left;
}

.scroll {
    overflow-y: auto;
}

.course-img {
    height: 40vh;
    width: 100%;
    padding: 5vh
}

.like-img {
    width: 5vh;
    display: inline-block
}

.center-text {
    text-align: center;
}