.like-button {
    float: right;
}

img {
    width: 5vh;
    display: inline-block
}

.inline-block {
    display: inline-block;
}

.main {
    padding-top: 3vh;
    height: 100%;
}

.card-text {
    margin-bottom: 0;
    padding-top: .5vh;
}

.height-100 {
    height: 100%;
}

.height-75 {
    height: 90%;
}

.w-100{
    width: 50%;
}

.w-75{
    width: 50%;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.scroll {
    overflow-y: auto;
}