.center-text {
    text-align: center;
}

.fa {
    padding-right: 5px;;
}

img {
    height: 25vh;
    width: 100%
}

.scroll {
    max-height: 100%;
    overflow-y: auto;
}

.dashboard{
    padding-bottom: 9em;
}