<!doctype html>
<html>

<head>
    <title>Create a Class</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Our custom stylesheets -->
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<body>

    <div class="mainContent container mt-5">
        <form class="card">
          <div class="card-body">
            <h4 class="card-title">Create a class chat</h4>
            <div class="form-group card-text">
              <label for="className"> Class Name </label>
              <input type="text" class="form-control" id="className" aria-describedby="className" placeholder="Enter class name">
              <small id="className" class="form-text text-muted">This is how students will find your class</small>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
    </div>

    <!-- Firebase -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-database.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-analytics.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyDTAhixj2O8Ny5gRIWK8DQcSTcJMImDPhA",
            authDomain: "bullyhack20.firebaseapp.com",
            databaseURL: "https://bullyhack20.firebaseio.com",
            projectId: "bullyhack20",
            storageBucket: "bullyhack20.appspot.com",
            messagingSenderId: "8373032571",
            appId: "1:8373032571:web:092b74f947433e1f30b4de",
            measurementId: "G-6484FT1EB9"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Our Scripts -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
    <!-- <script src="index.js"></script> -->
</body>

</html>